:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 10px;
  display: flex;
}

#top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  width: 700px;

}

#search-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.country-component {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(233, 232, 232, 0.5);
}

.small-img {
  width: 100%;
}

.country-info {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

p {
  margin: 5px 0px;
}

button {
  height: 30px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(0, 0%, 98%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 800;
}

.align-right {
  margin-right: 0;
  margin-left: auto;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}
